apiVersion: apps/v1
kind: Deployment
metadata:
  name: {service.name}-camel-service-deployment-v{service.version}
  labels:
    app: {service.name}-camel-service-v{service.version}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {service.name}-camel-service-v{service.version}
  template:
    metadata:
      labels:
        app: {service.name}-camel-service-v{service.version}
    spec:
      containers:      
        - name: {service.name}-camel-service-v{service.version}
          image: {parent.artifact.name}:{artifact.version}
          ports:
            - containerPort: 8080
            - containerPort: 8081
          imagePullPolicy: IfNotPresent
          startupProbe:
            httpGet:
              path: /api/v{service.version}/{service.name}/healthz/liveness
              port: 8081
            failureThreshold: 30
            periodSeconds: 30
          livenessProbe:
            httpGet:
              path: /api/v{service.version}/{service.name}/healthz/liveness
              port: 8081
              httpHeaders:
                - name: X-HEALTHZ-PROBER
                  value: K8
            successThreshold: 1
            failureThreshold: 2
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /api/v{service.version}/{service.name}/healthz/readiness
              port: 8081
              httpHeaders:
                - name: X-HEALTHZ-PROBER
                  value: K8
            initialDelaySeconds: 30
            periodSeconds: 15
            timeoutSeconds: 30
