apiVersion: v1
kind: Service
metadata:
  name: {service.name}-service-v{service.version}
spec:
  selector:
    app: {service.name}-camel-service-v{service.version}
  ports:
    - name: http-camel
      protocol: TCP
      port: 8080
      targetPort: 8080
    - name: http-swagger-ui
      protocol: TCP
      port: 8081
      targetPort: 8081