apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {service.name}-service-ingress-v{service.version}
  annotations:
    ingress.class: "nginx"
    # Enable regex processing in paths
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  ingressClassName: nginx
  rules:
    - host: localhost
      http:
        paths:
          # Camel Service Paths
          {paths}
          
          # Swagger UI
          - path: /api/v{service.version}/{service.name}/swagger-ui$
            pathType: Exact
            backend:
              service:
                name: {service.name}-service-v{service.version}
                port:
                  number: 8081
          - path: /api/v{service.version}/{service.name}/webjars
            pathType: Prefix
            backend:
              service:
                name: {service.name}-service-v{service.version}
                port:
                  number: 8081
          - path: /api/v{service.version}/{service.name}/api-doc$
            pathType: Exact
            backend:
              service:
                name: {service.name}-service-v{service.version}
                port:
                  number: 8081